[submodule "library/jelly"]
	path = library/jelly
	url = http://github.com/jonathangeiger/kohana-jelly.git
[submodule "library/database"]
	path = library/database
	url = http://github.com/kohana/database.git
[submodule "library/pagination"]
	path = library/pagination
	url = http://github.com/kohana/pagination.git
[submodule "library/cache"]
	path = library/cache
	url = http://github.com/kohana/cache.git
[submodule "kohana"]
	path = kohana
	url = http://github.com/kohana/core.git
[submodule "library/orm"]
	path = library/orm
	url = http://github.com/kohana/orm.git
[submodule "library/automodeler"]
	path = library/automodeler
	url = http://github.com/zombor/Auto-Modeler.git
[submodule "library/kostache"]
	path = library/kostache
	url = http://github.com/zombor/KOstache.git
